* {
    margin: 5px;
    padding: 0;
    

}
.body{
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: rgb(253, 253, 253);
    margin: 10px ;
    padding: 6px;
    border: 1px solid #000000;
    font-size: 20px;
    border-radius: 5px;
}


nav {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 45px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    border: 2px solid #ccc;
    margin-right: 20px;
    margin-top: 20px;


}

nav img {
    width: 7%;
    height: 50px;
    padding: 5px;
  
}

.botones_barra_de_navegacion{
    margin-left: auto; 
    gap: 10px; 

}

.banner {
    width: 99%; 
    height: 350px; 
    margin-right: 10px;
    align-items: center;
    margin-left: 10px;
}

.dosimagenes_1video{
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    font-size: 20px;
    width: 90%;
    height: 500px;
    margin-left: 80px;
    margin-top: 100px;

}

.imagen1{
    border-radius: 10px;
    width: 100%;
    height: 400px;

}

.video1{
    border-radius: 10px;
    width: 80%;
    height: 400px;

}
.imagen2 {
    border-radius: 10px;
    width: 100%;
    height: 400px;

}


.imagen_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 99%;
    height: 450px;    
    text-align: center;
    justify-content: center; /* probar con el space*/
    align-items: center; 
    margin-top: 80px; 
    margin-right: 200px;
    background-color: bisque;
    border: 3px solid #000000; 
    border-radius: 10px;

}

.imagen_abajo img {
    padding-top: 70px;
    margin-top: 0px;
    width: 70%;
    height: 300px;
    text-align: center;
    justify-content: center; 
    margin: 0px;
    border-radius: 10px;
    margin-left: 5px;
    
}

.Texto_Abajo {
    width: 70%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    font-size: 25px;
}

.barra_redes{
    display: grid;
    grid-template-columns: 40% 25% 25% 10% ;
    grid-template-rows: auto auto;
    text-align: center;
    border: #000000 solid 3px;
    height: 300px;
    width: 98%;
    margin-top: 150px;
    margin-left: 20px;
    margin-bottom: 80px;

}

.barra_redes h1{
    margin-bottom: 20px;
    font-size: 30px;
}

.Texto_Abajo p{
    font-size: 20px;
    margin: 0px 50px ; 

}

.informacion_contacto a{
    color: black;
    text-decoration: none; /* subrayado al link */
}

.informacion_contacto ul li{
    color: black;
    list-style: none;  /* para quitarle el puntito al coso de la lista  */
    padding: 0px;
    margin-bottom: 15px;
}

.Logo_Redes img{
    width: 50%;
    height: 50%;
}

footer h4 { /* otakar agency  */
    grid-column: span 4;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
    border: #000000 solid 3px;
    margin-top: 20px;
    margin-left: 0;
    width: 98.9%;
      
}

/* PAGINA DE CONTACTO */
 
#formulario_contacto {
    background-color: white;
    border: #000000 solid 1px;
    padding: 50px;
    width: 30%;
    font-size: 20px;
    margin-top: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0 ;

}

label {
    font-weight: bold;
    display: block; /* Ocupa todo el ancho disponible del contenedor */
    margin-top: 10px;
    width: 100%;

}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: #000000 solid 2px;

}



.enviar_formulario2 #enviar_formulario{
    background-color: #3a0852;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    width: 30%;
    float: right;
    margin-bottom: 50px; 
}

select {
    width: 104%; 
    padding: 10px;
    background-color: white;
    font-size: 16px;
    border: #000000 solid 2px;
}

textarea {
    width: 100%;
    border: #000000 solid 2px;
}

/* PAGINA DE NOSOTROS */





.barra_de_redes_nosotros {
    display: flex;
    justify-content: space-around; /* o space-between */
    align-items: center;
    background-color: white;
    border: 2px solid #000;
    padding: 10px;
    width: 97.2%;
    margin: auto;

}
.informacion_contacto_nosotros {
    background-color: tomato;
}

.barra_de_redes_nosotros img{
    width: 30%;
    height: 70px;
    margin: auto;
    padding: 10px;
    margin-left: 50px;
}

.barra_de_redes_nosotros p {
    font-size: 20px;
    padding-right: 80px;
}

footer h3{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: #000000 solid 2px;
    width: 96.7%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    font-size: 16px;
    padding-left: 40px;
    background-color: white;
}